@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: Inter, sans-serif;

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-indigo-50: #eef2ff;
    --color-indigo-100: #e0e7ff;
    --color-indigo-200: #c7d2fe;
    --color-indigo-300: #a5b4fc;
    --color-indigo-400: #818cf8;
    --color-indigo-500: #6366f1;
    --color-indigo-600: #132347;
    --color-indigo-700: #4338ca;
    --color-indigo-800: #3730a3;
    --color-indigo-900: #312e81;
    --color-indigo-950: #1e1b4b;

    --color-accent: #132347;
    --color-accent-content: #ffffff;
    --color-accent-foreground: #ffffff;
}

@layer theme {
    .dark {
        --color-accent: #132347;
        --color-accent-content: #ffffff;
        --color-accent-foreground: #ffffff;
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

[data-flux-sidebar-item][data-current] {
    background-color: var(--color-accent) !important;
    color: var(--color-accent-content) !important;
}

[data-flux-navlist-item][data-current] {
    background-color: var(--color-accent) !important;
    color: var(--color-accent-content) !important;
}

[data-flux-table] thead th {
    background-color: var(--color-accent) !important;
    color: var(--color-accent-content) !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

[data-flux-table] th,
[data-flux-table] td {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

/* Trix Editor list styles */
.trix-content ul {
    list-style-type: disc;
    margin-left: 1.5em;
}

.trix-content ol {
    list-style-type: decimal;
    margin-left: 1.5em;
}

.trix-content